.button {
  display: flex;
  justify-content: center;
  padding: 0.6rem 0.8rem;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: 0.3s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 0.8rem rgb(208, 208, 208);
  }
}
