@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#root {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}